.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-top: 2rem;
    z-index: -2;
    float: left;
    padding: 0 3rem;
}

.card {
    width: 13rem;
    margin: 15px 10px;
    border: 3px solid #ededed;
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    align-content: center;
}

.card-img {
    width: 13rem;
    margin-bottom: 1rem;
}

.card-title {
    margin-bottom: 1rem;
}

.card-reviews {
    display: flex;
    margin-bottom: 2rem;
    width: 13rem;
}

.ratings-star {
    color: #d5ab55;
}

.total-reviews {
    font-size: 0.9rem;
    margin-left: 10px;
}

.card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.bag-icon {
    color: #535353;
}

.price {
    font-size: larger;
}
.previous-price {
    margin-right: 0.5rem;
    font-size: smaller;
}
